
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

P{
  margin-bottom: 0rem;
}


.productContainer{
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.countContainer {
  display: flex;
  justify-content: center;
}


.countContainer p {
  margin: 0 20px;
}



.cardContainer {
  width: 200px;
  text-align: center;
}

.cardContainer img {
  width: 200px;
  margin-left: 20px;
}

.cardInformation {
  margin-left: 30px;
}

.card_info{
  margin-bottom: 5px;
}

/* Detail Product */

.detail_body{
  background-color: grey;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail_container{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 97%;
  height: 85vh;
}



.detail_img_container{
  margin: auto;
}

.detail_img{
  width: 40vw;
}

.detail_content_body{
  display: flex;
  justify-content: center;
}

.detail_content{
  padding-top: 120px;
  width: 65%;
  background-color: rgb(0,0,0,0.2);
  text-align: center;
}

.detail_price{
  font-size: 2rem;
}

.detail_delivery{
  font-size: 1.2rem;
  margin: 0;
}
.detail_returns{
  font-size: 1.2rem;
}

.detail_buy{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7%;  
}

.detail_add{
  height: 40px;
}

.countContainer button{
  width: 30px;
}


/* CARRITO  */

.img_cart{
  width: 100px;
}
